span {
    font-size: 30px;
    margin-right: 30px;    
}
select {
    width: 80px;
    height: 30px;
    border-radius: 10px;
}
input[type="text"] {
    border-top:none;
    border-left:none;
    border-right:none;
}
button {
    display: inline-block;
    width: 50px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
}
li {
    list-style: none;
}
img {
    display: inline-block;
    width: 30px;
    
    height: 30px;
    background-color: red;
}